.text-blue{
  color: #061CB5;
}
.icon-blue{
  color: #001DEA;
}
.rose{
  color: #FFAA00;
}
body{
  background-color: #ddd;
}
.image{
  border: solid #FFAA00 4px;
}
.title{
  border-bottom: solid #FFAA00 5px;
}
#aboutMe{
  text-indent: 40px;
  font-size: 1.2em;
}
.education, .language, .projet{
  font-size: 1.2em;
}
#image{
  animation-name: animation;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-direction: initial;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
}
@keyframes animation{
  form{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}
.smallSize{
  font-size: 0.8em;
}
@media screen and (max-width: 992px) {
  body{
    font-size: 1.5em;
  }
}